@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@500;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


/* common styles */
#pink-color {
    color: rgb(206, 26, 131);
}

.btn {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1.2rem 2.5rem;
    border-radius: 2rem;
    border: 0;
}

/* nav section start here  */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 2rem 0;
}

.gamer-title {
    display: flex;
    align-items: center;
}

.gamer-title h2 {
    font-size: 2.5rem;
}


.title-content>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.title-content a {
    margin: 0 2rem;
}

.title-content>ul img {
    width: 2rem;
    height: 1.5rem;
    padding: 0 0.5rem;
}

.follow-us-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B02231A;
    margin: 0 2rem;
    padding: 1rem;
    border-radius: 1.5rem;
    font-weight: 500;
    color: #3C354F;
}

/* nav section end here  */


/* goat section start here  */
.goat {
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(230, 214, 228));
}

.goat-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.goat-content h2 {
    font-weight: 600;
    font-size: 3rem;
}

.goat-content h1 {
    font-weight: 800;
    font-size: 5rem;
    color: rgba(218, 22, 159, 0.932);
    padding: 1rem 0;
}

.goat-content p {
    display: flex;
    font-weight: 500;
    font-size: 1.3rem;
    color: #534C64;
}

.goat-content>p>img {
    padding-right: 1rem;
}

.goat-btn-container {
    padding: 2rem 0;
}

.btn-sign-in {
    background: linear-gradient(to left, rgb(223, 79, 163), rgb(223, 45, 148));
}

.btn-go-rogue {
    background-color: #4EC5F7;
    margin-left: 1rem;
}

.goat-image img {
    width: 40rem;
    margin-left: 5rem;
}

/* goat section ends here  */

/* we are gamer section start here  */
.we-are-gamer {
    background: linear-gradient(to top, rgb(248, 248, 248), rgb(248, 248, 248));
}

.gamer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.gamer-container img {
    width: 40rem;
    padding: 3rem 5rem;
}

.gamer-content {
    text-align: end;
}

.gamer-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #534C64;
    padding: 1rem 0;
}

.btn-know-more {
    background: linear-gradient(to left, rgb(223, 79, 163), rgb(223, 45, 148));
}

.gamer-content h2 {
    color: red;
    font-weight: 700;
    font-size: 3rem;
    padding: 1rem 0;
}

/* we are gamer section ends here  */


/* online games section start here  */
.online-games {
    max-width: 80%;
    margin: 0 auto;
}

.online-games-content {
    text-align: center;
    padding: 3rem 0;
}

.game {
    width: 15rem;
}
.online-game-img:hover{
    border: 5px solid red;
    border-radius: 2rem;
    opacity:0.5;
    
}

.play-pause{
    height: 2rem;
    width: 2rem;
    position: relative;
    bottom: 15rem;
    left: 6rem;
    opacity: 0;
}
.play-pause:hover{
    opacity: 1;
}
.game img {
    width: 100%;
    margin-bottom: 1rem;
}

.online-games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}

.online-games-content h1 {
    font-weight: 700;
    font-size: 3rem;
}

.funny {
    color: blueviolet;
}

.online-games-content p {
    font-weight: 400;
    font-size: 1rem;
    color: #534C64;
}

/* online games section ends here  */


/* play instantly section start here  */
.play-instantly {
    background: linear-gradient(to top, rgb(248, 248, 248), rgb(248, 248, 248));
}

.instantly-container {
    max-width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img-2 {
    position: relative;
    bottom: 20rem;
    right: 100px;
}

.instantly-content h1 {
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.instantly-content {
    margin: 0 3rem 2rem 1rem;
    text-align: center;
}

/* play instantly section end here  */



/* gmaes catagory section start here  */
.game-catagory {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.game-catagory:hover{
border: 2px solid rgb(223, 43, 169);
border-radius: 2rem;
color: rgb(187, 20, 165);
font-weight: 700;
}

.games-catagory-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 2rem auto;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.game-catagory img {
    margin-right: 1rem;
}

/* footer section start here  */
footer {
    background-color: black;
    color: white;
    padding: 10rem;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title img {
    margin-right: 1rem;
}

.footer-title h2 {
    font-weight: 800;
    font-size: 2.5rem;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.footer-content h3 {
    padding: 0 2rem;
    font-weight: 400;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    padding: 0 2rem;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.footer-text p {
    font-size: 1rem;
    padding: 0.5rem;
}

#copyright {
    font-size: 0.8rem;
    text-align: center;
    padding: 2rem 0;
}

/* responsive is here  */

/* responsive for small mobile device  */
@media screen and (max-width:576px) {
    nav {
        max-width: 576px;
        flex-direction: column;
        padding-left: 10rem;

    }

    .title-content>ul {
        flex-direction: column;
        padding: 1rem 0;
    }

    .title-content>ul li {
        margin: 1rem 0;
    }

    .follow-us-title {
        margin: 2rem 0;
        padding: 0.5rem;
    }

    .goat-container {
        flex-direction: column-reverse;
        max-width: 576px;
    }

    .goat-image img {
        height: 20rem;
        width: 25rem;
        margin: 0 auto;
    }

    .gamer-container {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .gamer-container img {
        height: 20rem;
        width: 25em;
        margin:0 0;
    }

    .we-are-gamer {
        max-width: 576px;
    }
    

    .online-games-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .instantly-container {
        flex-direction: column;

    }

    #img-2 {
        position: relative;
        bottom: 100px;
        left: 0;
        right: 50px;
        height: 10rem;
        width: 10rem;
    }
    #img-1{
    height: 20rem;
    width: 20rem;
    }
    .games-catagory-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .game-catagory img {
        margin-right: 1rem;
        width: 2rem;
    }

    .game-catagory p {
        font-size: 0.5rem;
    }


    footer {
        margin: 0;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content h3 {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    .footer-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-logo img {
        padding: 1rem;
    }

    .footer-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0.3rem 0;
    }
}





/* responsive for tablet or medium device  */
@media screen and (min-width:577px) and (max-width:1000px) {
    nav {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .goat-container {
        flex-direction: column-reverse;
    }

    .goat-image img {
        height: 30rem;
        width: 35rem;
        margin: 5rem auto;
    }

    .goat-container {
        flex-direction: column-reverse;
        max-width: 576px;
    }

    .goat-image img {
        height: 20rem;
        width: 25rem;
        margin: 0 auto;
    }

    .gamer-container {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .gamer-container img {
        height: 20rem;
        width: 25rem;
        margin: 5rem auto;
    }

    .we-are-gamer {
        max-width: 576px;
    }

    .online-games-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .instantly-container {
        flex-direction: column;

    }

    #img-2 {
        position: relative;
        bottom: 200px;
        left: 0;
        right: 100px;
    }

    .games-catagory-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .game-catagory img {
        margin-right: 1rem;
        width: 2rem;
    }

    .game-catagory p {
        font-size: 0.5rem;
    }

    .footer-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content h3 {
        padding: 1rem;
    }

    .footer-logo img {
        padding: 1rem;
    }
}